body {
  background-image: url('/img/bakgrund.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.page-heading {
  @include relative-font-size(1.25);
  text-align: center;
  font-style: oblique;
  text-transform: capitalize;
  color: rgb(179, 159, 133);
}
a.site-title {
  &,
  &:hover {
    color: rgb(179, 159, 133);
  }
}
.page-content {
  background-color: rgba(170, 167, 166, 0.5);
}